*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'DM Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: var(--black);
  background-color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
  padding: 0;
  line-height: 0;
}

input {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.accent {
  font-style: italic;
  color: var(--slate-gray);
  font-style: italic;
}
