.div-with-li {
  position: relative;
  z-index: 0;
}

/* --------------list of card---------------- */

.favorites-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 14px;
  margin-bottom: 20px;
}

.favorites-div-with-cards {
  margin-top: 40px;
  padding: 40px 20px;
  width: 335px;
  min-height: 450px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--ligt-gray);
}

.favorites-div-head {
  color: var(--black);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

.exercises-card {
  border-radius: 15px;
  background: var(--white);
  width: 295px;
  height: 165px;
  padding: 16px;
  cursor: pointer;
  transition: box-shadow 100ms ease-in-out;
}

.exercises-card:hover {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.exercises-card > * {
  pointer-events: none;
}

.exercises-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-delete {
  position: absolute;
  top: 21px;
  left: 100px;
  z-index: 2;
}

.card-delete use {
  pointer-events: none;
}

/* -----------------upper part----------------- */

.exercises-card-upper-part {
  display: flex;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.div-rating-or-delete-button {
  display: flex;
  gap: 8px;
  align-items: center;
}

.workout-text {
  display: flex;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: var(--slate-gray);
  color: var(--accent-color);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
}

.card-delete {
  border: none;
  background: none;
  cursor: pointer;
}

.card-start {
  border: none;
  background: none;
  height: 18px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}

.card-rating {
  display: flex;
  gap: 2px;
  align-items: center;
  color: var(--black);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  height: 18px;
}

.card-rating > span {
  height: 18px;
}

.rating-icon {
  fill: #eea10c;
}

.trash-icon {
  stroke: var(--black);
  fill: transparent;
  border-radius: 5%;
}

.start-icon {
  stroke: var(--black);
  fill: var(--black);
  border-radius: 50%;
}

/*----------------- mid part-------------------------- */

.exercises-card-midle-part {
  display: flex;
  gap: 16px;
  margin-top: 25px;
  margin-bottom: 16px;
  white-space: nowrap;
  align-items: center;
}

.exercises-card-midle-part-svg {
  display: flex;
  align-items: center;
}

.card-exercise-name {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px; /* 100% */
}

.runing-man-icon {
  background-color: var(--slate-gray);
  border-radius: 50%;
}

/* ----------------lower part------------------ */

.exercises-card-lower-part {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 16px;
}

.exercises-card-lower-part p {
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

.exercises-card-lower-part-span {
  color: var(--black);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

/* ================АДАПТИВ ==============================*/

@media (min-width: 768px) {
  .favorites-div-with-cards {
    width: 736px;
    padding: 64px 48px;
    padding-right: 16px;
  }

  .exercises-card {
    width: 313px;
  }

  .favorites-list {
    overflow-y: auto;
    max-height: 728px;
    margin-bottom: 0;
    margin-top: 32px;
  }

  .exercises-card-lower-part {
    overflow: hidden;
  }

  .exercises-card-midle-part {
    margin-top: 25px;
    margin-bottom: 8px;
  }

  .card-exercise-name {
    font-size: 24px;
    line-height: 133%;
  }
}

@media (min-width: 1440px) {
  .favorites-div-with-cards {
    width: 1408px;
  }

  .exercises-card {
    width: 424px;
    height: auto;
  }

  .favorites-list {
    gap: 28px 20px;
    /* height: 479px; */
  }

  .exercises-card-midle-part {
    margin-bottom: 8px;
  }
}

/* -----------------------скролбар------------------------- */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--slate-gray);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba(27, 27, 27, 0.1);
}
