/* mobile-version */

.footer {
  margin: 0 auto;
  padding: 40px 0;
  background-image: url(../../images/img/footer/bgrimg-mobile-1x.jpg);
  background-size: cover;
  border-radius: 30px;
  width: 335px;
  height: 471px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .footer {
    background-image: url(../../images/img/footer/bgrimg-mobile-2x.jpg);
  }
}

.footer-group {
  margin-bottom: 40px;
}
.logo-footer {
  color: var(--accent-color);
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
}

.social-list {
  display: flex;
  gap: 8px;
  margin-top: 9px;
}

.social-link-footer {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(246, 246, 246, 0.2);
}
.social-icon {
  fill: var(--accent-color);
}
.social-icon:hover,
.social-icon:hover {
  fill: #5f6560;
}
.footer-credo {
  color: var(--accent-color);
  font-family: 'DM Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.footer-credo-item {
  color: var(--transparent-light-gray);
  font-family: 'DM Sans';
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.64px;
}

.footer-box-title {
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.section-subscription {
  margin-left: 0;
}
.label-subscription {
  display: flex;
}
.input-footer {
  display: flex;
  background-color: transparent;
  width: 290px;
  padding: 12px 14px;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 30px;
  border: 1px solid var(--accent-color);
  color: var(--transparent-light-gray);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.input-footer:hover,
.input-footer:focus,
.input-footer:active {
  border: 1px solid #1b1b1b;
  outline: none;
}

.footer-button {
  display: flex;
  padding: 12px 130px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background: var(--slate-gray);
  color: var(--accent-color);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 60px;
}
.footer-button:hover,
.footer-button:focus {
  background: #5f6560;
}

.security-text {
  color: var(--accent-color);
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -0.02em;
  opacity: 0.9;
  margin-bottom: 10px;
}

/* tablet-version */

@media (min-width: 768px) {
  .footer {
    position: relative;
    padding: 64px 0;
    background-image: url(../../images/img/footer/bgrimg-tablet-1x.jpg);
    border-radius: 50px;
    width: 736px;
    height: 576px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url(../../images/img/footer/bgrimg-tablet-2x.jpg);
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-group {
    margin-right: 145px;
    margin-left: 48px;
  }

  .logo-footer {
    font-size: 28px;
    line-height: 1;
  }

  .social-list {
    margin-top: 30px;
  }
  .social-icon {
    width: 28px;
    height: 28px;
  }

  .footer-credo {
    width: 345px;

    font-size: 54px;
    line-height: 0.93;
    margin-bottom: 32px;
  }

  .footer-credo-item {
    font-size: 54px;
    line-height: 0.93;
  }

  .section-subscription {
    margin-left: 343px;
  }

  .footer-box-title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.33;
  }
  .footer-button {
    width: 100%;
    padding: 12px 157px;
  }
  .input-footer {
    margin-bottom: 20px;
    width: 100%;
  }

  .security {
    display: flex;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 437px;
  }

  .security-text {
    font-size: 14px;
    line-height: 1.28;
  }

  .security-text.first {
    margin-right: 32px;
  }
}

/* desktop-version */

@media (min-width: 1440px) {
  .footer {
    position: relative;
    padding: 64px 0;
    background-image: url(../../images/img/footer/bgrimg-desktop-1x.jpg);
    border-radius: 50px;
    width: 1408px;
    height: 454px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url(../../images/img/footer/bgrimg-desktop-2x.jpg);
    }
  }
  .container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer-group {
    margin-right: 162px;
  }

  .social-list {
    margin-top: 40px;
  }
  .footer-credo {
    width: 488px;
    font-size: 64px;
    line-height: 0.96;
    margin-bottom: 0;
  }

  .footer-credo-item {
    font-size: 64px;
    line-height: 0.96;
  }

  .section-subscription {
    margin-left: 0;
    margin-right: 48px;
  }
}