/* MOBILE */


.title--link {
    color: var(--black);
}

.header--modal--label{
    color: var(--white);
}
.modal--link {
    color: var(--white);
}
.modal--link:hover,
.modal--link:focus {
    background-color: var(--white);
    color: var(--black);
}
.modal--link:nth-child(1) {
    padding: 6px 26px 6px 26px;
}
.modal--link:nth-child(2){
    padding: 6px 14px 6px 14px;
}
  .header__btn {
      max-width: 32px !important;
      max-height: 16px;
  }

  .modal--link {
      border-radius: 30px;

  }
@media screen and (min-width: 375px) {

.header {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center
}
    .header__container {
        position: absolute;
        z-index: 99;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        padding-right: 40px;
        padding-left: 40px;
    }

.header__btn {
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 2px;
}
.header__btn::before,
.header__btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 2px;
    background-color: var(--slate-gray);
    /* Колір лінії */
}

.header__btn::after {
    margin-top: 8px;
}
.header__btn {
    width: 36px;
    height: 16px;
}

.header__modal {

padding-top: 20px;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 375px;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
}



.header__modal.none {
    display: none;
    position: absolute;
    left: 100%;
    transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__modal--box {
height: 100%;
    padding: 20px 20px 40px 20px;
    background-color: var(--slate-gray);
    border-radius: 30px;
}
.modal__btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}


.modal__box--btn {
    display: flex;
    justify-content: space-between;
}
.modal__box--links {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30vh;
    margin-bottom: 30vh;
    align-items: center;
    padding: 8px 16px 8px 16px;
    border-radius: 60px;
}
.modal--link:nth-child(2) {
    margin-top: 10px;
}

.modal__list  {
    display: flex;
    justify-content: center;
}
.modal__item:not(:last-child) {
    margin-right: 12px;
}
.modal__item {
    padding: 8px;
    border: 1px solid #F6F6F633;
    border-radius: 10px;
}
.modal--svg {
    width: 28px;
    height: 28px;
}
.modal--close--svg {
    stroke: var(--white);
}
.header__navigation {
    display: none;
}
.modal--svg {
    fill: var(--white);
}
}

/* TABLET */


@media screen and (min-width: 768px) {
.header__navigation {
        display: flex;
    }
    .modal--svg {
        fill: var(--slate-gray);
    }
    .header__btn {
        display: none;
    }


    .container {
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .modal--link:not(:last-child) {
        margin-right: 16px;

    }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
    .container {
        width: 1440px;
    }
}