/* стилі з quote-home збігаються, тому тут лише стилі для картинок */
/* та стилі відсутпу від секцій */

/* mobile first */

.quote-home-background-fav {
  background-image: url(../../images/favorites/quote-background/quote-favourites-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 335px;
  height: 272px;
  border-radius: 30px;
  flex-shrink: 0;
}

.quote-favourites {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}

.motivation-icon-favorites {
  fill: var(--black);
}

.animate__animated.animate__fadeInLeft,
.animate__animated.animate__fadeRight {
  animation-duration: 1600ms;
}

.after-quote-section-item {
  animation-duration: 1650ms;
}

@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .quote-home-background-fav {
    background-image: url(../../images/favorites/quote-background/quote-favourites-mobile@2x.jpg);
  }
}

/* tablet */

@media screen and (min-width: 768px) {
  .quote-favourites {
    margin-top: 80px;
    gap: 16px;
  }

  .quote-home-background-fav {
    background-image: url(../../images/favorites/quote-background/quote-favourites-tablet@1x.jpg);
    border-radius: 50px;
    width: 368px;
    height: 302px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .quote-home-background-fav {
      background-image: url(../../images/favorites/quote-background/quote-favourites-tablet@2x.jpg);
    }
  }
}

/* desktop */

@media screen and (min-width: 1440px) {
  .quote-favourites {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 0;
    width: 100%;
  }

  .quotes-div-fav {
    width: 704px;
  }

  .quote-home-background-fav {
    background-image: url(../../images/favorites/quote-background/quote-favourites-desktop@1x.jpg);
    width: 352px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .quote-home-background-fav {
      background-image: url(../../images/favorites/quote-background/quote-favourites-desktop@2x.jpg);
    }
  }
}
