.up-btn {
  width: 40px;
  height: 40px;
  background-color: var(--slate-gray);
  position: fixed;
  bottom: 50px;
  right: 30px;
  border-radius: 50%;
  display: flex;
  font-size: 18px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.up-button-icon {
  stroke: var(--accent-color);
}

.animate__animated.animate__backInUp {
  animation-delay: 500ms;
}

@media screen and (min-width: 768px) {
  .up-btn {
    font-size: 21px;
    right: 40px;
    transition: all var(--timing-function);
  }
  .up-btn:hover,
  .up-btn:focus {
    background-color: var(--slate-gray);

  }
  .up-button-icon {
    width: 33px;
    height: 33px;
  }
}

@media screen and (min-width: 1440px) {
  .up-btn {
    width: 100px;
    height: 100px;
    font-size: 25px;
    right: 50px;
  }
}
