<div class="container">
  <section class="exercises-section container">
    <div class="exercises-path">
      <h2 class="exercises-title">Exercises</h2>
      <h3 class="exercises-path-name hidden"></h3>
    </div>
    <div class="category-btns-wrap">
      <ul class="category-btns-list">
        <li>
          <button
            class="category-btn current-category-btn"
            type="button"
            aria-label="Muscles category button"
          >
            Muscles
          </button>
        </li>
        <li>
          <button
            class="category-btn"
            type="button"
            aria-label="Body category button"
          >
            Body parts
          </button>
        </li>
        <li>
          <button
            class="category-btn"
            type="button"
            aria-label="Equipment category button"
          >
            Equipment
          </button>
        </li>
      </ul>
      <form class="exercises-search-wrap hidden">
        <input class="exercises-search" type="text" placeholder="Search" />
        <div class="exercises-search-buttons">
          <button
            type="button"
            class="exercises-search-close-btn hidden"
            aria-label="Close button"
          >
            <svg class="exercises-search-close-icon" width="18" height="18">
              <use href="./images/sprite.svg#icon-close-modal"></use>
            </svg>
          </button>
          <button
            class="exercises-search-submit-btn"
            type="submit"
            aria-label="Search button"
          >
            <svg class="exercises-search-icon" width="18" height="18">
              <use href="./images/sprite.svg#icon-search"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
    <ul class="categories-list animate__animated"></ul>
    <form class="navigation-list-form">
      <ul class="exercises-navigation-list"></ul>
    </form>
  </section>
</div>
