<div class="container">
  <section class="exercises-section">
    <h2 class="exercises-title">Exercises</h2>
    <div class="category-btns-wrap">
      <ul class="category-btns-list">
        <li>
          <button class="category-btn current-category-btn" type="button">
            Muscles
          </button>
        </li>
        <li>
          <button class="category-btn" type="button">Body parts</button>
        </li>
        <li>
          <button class="category-btn" type="button">Equipment</button>
        </li>
      </ul>
      <form class="exercises-search-wrap hidden">
        <input class="exercises-search" type="text" placeholder="Search" />
        <button class="exercises-search-submit-btn" type="submit">
          OK
          <svg class="exercises-search-icon">
            <use></use>
          </svg>
        </button>
      </form>
    </div>
    <ul class="categories-list"></ul>
    <div class="pagination-btns-list hidden"></div>
  </section>
</div>
