<section class="favorites-section container">
  <div class="favorites-section-wrapper">
    <ul class="after-quote-section-list">
      <li class="after-quote-section-item">
        <img
          class="favorites-img"
          src="./images/favorites/sport-woman.jpg"
          alt="sports woman"
        />
      </li>
      <li class="after-quote-section-item">
        <div class="favorites-text-div">
          <div class="favorites-text-svg"></div>
          <p class="favorites-text-time">110 min</p>
          <p class="favorites-text-daily-norm">Daily norm of sports</p>
        </div>
      </li>
    </ul>

    <div class="favorites-div-with-cards">
      <h2 class="favorites-div-head">Favorites</h2>
      <div class="favorites-div-without-cards">
        <img
          class="favorites-div-without-cards-img"
          src="./images/favorites/dumbbell.png"
          alt="dumbbell"
          width="85"
          height="52"
        />
        <p class="favorites-div-without-cards-text">
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p>
      </div>

      <ul class="favorites-list"></ul>
      <ul class="exercises-navigation-list"></ul>
    </div>
  </div>
</section>
