<section class="favorites-section container">
  <div class="favorites-section-wrapper">
    <div class="favorites-div-with-cards">
      <h2 class="favorites-div-head">Favorites</h2>
      <div class="favorites-div-without-cards">
        <img
          class="favorites-div-without-cards-img"
          src="./images/favorites/dumbbell.png"
          alt="dumbbell"
          width="85"
          height="52"
        />
        <p class="favorites-div-without-cards-text">
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p>
      </div>

      <ul class="favorites-list"></ul>
      <ul class="random">
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b189e"
        >
          fdbdfggd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b1997"
        >
          dfgdxgd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b1ade"
        >
          fdbdfggd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b1ac5"
        >
          dfgdxgd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b197e"
        >
          fdbdfggd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b1ac3"
        >
          dfgdxgd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b1acb"
        >
          fdbdfggd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b1adf"
        >
          dfgdxgd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b1ae1"
        >
          fdbdfggd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b1add"
        >
          dfgdxgd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b18df"
        >
          fdbdfggd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b18d5"
        >
          dfgdxgd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b1b24"
        >
          dfgdxgd
        </button>
        <button
          class="exercise-favorite-add-btn"
          type="button"
          id="64f389465ae26083f39b1a32"
        >
          dfgdxgd
        </button>
      </ul>
    </div>
  </div>
</section>
