<footer class="footer">
  <div class="container footer-container">
    <div class="footer-group">
      <a
        class="logo-footer link"
        href="./index.html"
        aria-label="Home page link"
        >energy.flow</a
      >
      <ul class="social-list list">
        <li class="social-item-footer">
          <a
            class="social-link-footer"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            title="Facebook"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-footer">
          <a
            class="social-link-footer"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            title="Instagram"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-footer">
          <a
            class="social-link-footer"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            title="YouTube"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <h2 class="footer-credo">
      Transforming your <span class="footer-credo-item">body</span> shape with
      us
    </h2>
    <div class="section-subscription">
      <p class="footer-box-title">Subscribe and learn about new exercises!</p>
      <form class="footer-subscription">
        <label class="label-subscription" aria-label="email">
          <input
            type="email"
            name="footer-email"
            class="input-footer"
            placeholder="Email"
          />
        </label>
        <button type="submit" class="footer-button">Send</button>
      </form>
    </div>
    <div class="security">
      <p class="security-text first">Energy Flow. All rights reserved.</p>
      <p class="security-text">Privacy Policy / Terms of Service</p>
    </div>
  </div>
</footer>
