<header class="header-section">
  <div class="container">
    <div class="header-section-container">
      <a
        href="./index.html"
        class="header-title animate__animated animate__bounceInDown"
      >
        energy.flow
      </a>
      <nav class="navigation-header animate__animated animate__bounceInDown">
        <ul class="navigation-list">
          <li class="navigation-item">
            <a
              href="./index.html"
              class="navigation-links home-page"
              aria-label="Home page link"
              >Home</a
            >
          </li>
          <li class="navigation-item">
            <a
              href="./page-2.html"
              class="navigation-links favorites-page"
              aria-label="Favorties page link"
              >Favorites</a
            >
          </li>
        </ul>
      </nav>
      <ul class="header-social-list">
        <li
          class="header-social-item instagram-animation animate__animated animate__bounceInDown"
        >
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-social-link"
            target="_blank"
            title="facebook"
          >
            <svg class="header-social-icon" width="28" height="28">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li
          class="header-social-item facebook-animation animate__animated animate__bounceInDown"
        >
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-social-link"
            target="_blank"
            title="instagram"
          >
            <svg class="header-social-icon" width="28" height="28">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li
          class="header-social-item youtube-animation animate__animated animate__bounceInDown"
        >
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-social-link"
            target="_blank"
            title="youtube"
          >
            <svg class="header-social-icon" width="28" height="28">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button
        class="header-mobile-open-btn animate__animated animate__bounceInDown"
        type="button"
        aria-label="Open mobile menu"
        data-modal-open
      >
        <svg class="mobile-open-icon" width="32" height="16">
          <use href="./images/sprite.svg#icon-mobile-menu-open"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
