<header class="header">
  <div class="header__container container">
    <nav class="header__navigation">
      <div class="navigation__btn--box">
        <a class="title--link" href="../index.html">energy.flow </a>
        <button class="header__btn" type="button" data-modal-open>
          <svg class="header--svg--btn" width="32" height="16">
            <use href="./images/sprite.svg#icon-mobile-menu-open"></use>
          </svg>
        </button>
      </div>
      <div class="navigation__links--box">
        <a class="modal--link" href="./index.html" rel="noopener noreferrer">
          Home
        </a>
        <a class="modal--link" href="./page-2.html" rel="noopener noreferrer">
          Favorites
        </a>
      </div>

      <ul class="navigation__list">
        <li class="navigation__item">
          <a
            class="modal--network"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            title="facebook link"
          >
            <svg class="modal--svg" width="28" height="28">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="navigation__item">
          <a
            class="modal--network"
            href="https://www.instagram.com/goitclub/"
            rel="noopener noreferrer"
            target="_blank"
            title="instagram link"
          >
            <svg class="modal--svg" width="28" height="28">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="navigation__item">
          <a
            class="modal--network"
            href="https://www.youtube.com/c/GoIT"
            rel="noopener noreferrer"
            target="_blank"
            title="youtube link"
          >
            <svg class="modal--svg" width="28" height="28">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="header__modal none">
    <div class="header__modal--box">
      <div class="modal__box--btn">
        <a class="header--modal--label" href="./index.html">energy.flow </a>
        <button class="modal__btn" type="button" data-modal-close>
          <svg class="modal--svg--btn" width="28" height="28">
            <use href="./images/sprite.svg#icon-close-modal"></use>
          </svg>
        </button>
      </div>

      <div class="modal__box--links">
        <a class="modal--link" href="./index.html" rel="noopener noreferrer">
          Home
        </a>
        <a class="modal--link" href="./page-2.html" rel="noopener noreferrer">
          Favorites
        </a>
      </div>

      <nav>
        <ul class="modal__list">
          <li class="modal__item">
            <a
              class="modal--network"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              title="facebook link"
            >
              <svg class="modal--svg modal-svg" width="25" height="25">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="modal__item">
            <a
              class="modal--network"
              href="https://www.instagram.com/goitclub/"
              rel="noopener noreferrer"
              target="_blank"
              title="instagram link"
            >
              <svg class="modal--svg modal-svg" width="25" height="25">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="modal__item">
            <a
              class="modal--network"
              href="https://www.youtube.com/c/GoIT"
              rel="noopener noreferrer"
              target="_blank"
              title="youtube link"
            >
              <svg class="modal--svg modal-svg" width="25" height="25">
                <use href="./images/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
