<header class="header">
    <div class="header__container container">
        <a class="title--link" href="#">
            energy.flow
        </a>
        <button class="header__btn" type="button" data-modal-open>

            </button>
    <nav class="header__navigation">
                            <a class="modal--link" href="../index.html" rel="noopener noreferrer">
                                Home
                            </a>
                            <a class="modal--link" href="./favorites.html" rel="noopener noreferrer">
                                Favorites
                            </a>
                            <ul class="modal__list">
                                <li class="modal__item">
                                    <a class="modal--network" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer"
                                        title="facebook link">
                                        <svg class="modal--svg" width="29" height="19">
                                            <use href="../images/sprite.svg#icon-facebook"></use>
                                        </svg>
                            
                                    </a>
                            
                                </li>
                                <li class="modal__item">
                                    <a class="modal--network" href="https://www.instagram.com/goitclub/" rel="noopener noreferrer" target="_blank"
                                        title="instagram link">
                                        <svg class="modal--svg" width="29" height="29">
                                            <use href="../images/sprite.svg#icon-instagram"></use>
                                        </svg>
                            
                                    </a>
                            
                                </li>
                                <li class="modal__item">
                                    <a class="modal--network" href="https://www.youtube.com/c/GoIT" rel="noopener noreferrer" target="_blank"
                                        title="youtube link">
                                        <svg class="modal--svg" width="29" height="29">
                                            <use href="../images/sprite.svg#icon-youtube"></use>
                                        </svg>
                            
                                    </a>
                            
                                </li>
                            </ul>
    </nav>
    </div>
    <div class="header__modal none container">

        <div class="header__modal--box ">

                <div class="modal__box--btn">
                    <p class="header--modal--label">
                        energy.flow
                    </p>
                    <button class="modal__btn" type="button" data-modal-close>
                        <svg class="modal--close--svg" width="24" height="24">
                            <use href="../images/sprite.svg#icon-close-modal"></use>
                        </svg>
                    </button>
                </div>
                
                <div class="modal__box--links">
                    <a class="modal--link" href="../index.html" rel="noopener noreferrer">
                        Home
                    </a>
                    <a class="modal--link" href="./favorites.html" rel="noopener noreferrer">
                        Favorites
                    </a>
                </div>
                
                <nav class="modal__nav">
                    <ul class="modal__list">
                        <li class="modal__item">
                            <a class="modal--network" href="https://www.facebook.com/goITclub/" target="_blank"
                                rel="noopener noreferrer" title="facebook link">
                                <svg class="modal--svg" width="29" height="19">
                                    <use href="../images/sprite.svg#icon-facebook"></use>
                                </svg>
                                
                            </a>
                
                        </li>
                        <li class="modal__item">
                            <a class="modal--network" href="https://www.instagram.com/goitclub/" rel="noopener noreferrer"
                                target="_blank" title="instagram link">
                                <svg class="modal--svg" width="29" height="29">
                                    <use href="../images/sprite.svg#icon-instagram"></use>
                                </svg>
                                
                            </a>

                        </li>
                        <li class="modal__item">
                            <a class="modal--network" href="https://www.youtube.com/c/GoIT" rel="noopener noreferrer" target="_blank"
                                title="youtube link">
                                <svg class="modal--svg" width="29" height="29">
                                    <use href="../images/sprite.svg#icon-youtube"></use>
                                </svg>
                                
                            </a>
                
                        </li>
                    </ul>
                </nav>
                
        </div>

    </div>
</header>