<section class="hero">
  <div class="container hero-container">
    <div class="hero-background animate__animated animate__fadeInLeft">
      <ul class="hero-list">
        <li class="hero-tags">#Sport</li>
        <li class="hero-tags">#Healthy</li>
        <li class="hero-tags">#Workout</li>
        <li class="hero-tags">#Diet</li>
      </ul>
    </div>
    <div class="hero-title-wrap animate__animated animate__fadeIn">
      <h1 class="hero-title">
        Get <span class="accent">Body</span> in shape, Stay healthy
      </h1>
      <p class="hero-text">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
  </div>
</section>
