<div class="mobile-menu-wrapper none">
  <div class="mobile-menu-container">
    <div class="mobile-menu-header">
      <a
        class="mobile-menu-logo"
        href="./index.html"
        aria-label="Home page link"
        >energy.flow</a
      >
      <button
        class="mobile-menu-cls-btn"
        type="button"
        aria-label="Close mobile menu"
        data-modal-close
      >
        <svg class="modal-svg-btn" width="28" height="28">
          <use href="./images/sprite.svg#icon-close-modal"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-body">
      <ul class="mobile-navigation-list">
        <li>
          <a
            class="mobile-navigation-item home-mobile-page"
            aria-label="Home page link"
            href="./index.html"
            >Home</a
          >
        </li>
        <li>
          <a
            class="mobile-navigation-item favorites-mobile-page"
            aria-label="Favorties page link"
            href="./page-2.html"
            >Favorites</a
          >
        </li>
      </ul>
    </div>
    <div class="mobile-menu-footer">
      <ul class="mobile-menu-social-list">
        <li class="mobile-menu-social-item">
          <a
            class="mobile-menu-social-links"
            title="Facebook"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            ><svg class="social-links-svg" width="25" height="25">
              <use href="./images/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="mobile-menu-social-item">
          <a
            class="mobile-menu-social-links"
            title="Instagram"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="social-links-svg" width="25" height="25">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-item">
          <a
            class="mobile-menu-social-links"
            title="YouTube"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="social-links-svg" width="25" height="25">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
