<div class="mobile-menu-wrapper none">
  <div class="mobile-menu-container">
    <div class="mobile-menu-header">
      <a class="mobile-menu-logo" href="./index.html">energy.flow</a>
      <button class="mobile-menu-cls-btn" type="button" data-modal-close>
        <svg class="mobile-menu-btn-svg" width="28" height="28">
          <use href="./images/sprite.svg#icon-close-modal"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-body">
      <ul class="mobile-navigation-list">
        <li>
          <a class="mobile-navigation-item home-page" href="./index.html"
            >Home</a
          >
        </li>
        <li>
          <a class="mobile-navigation-item favorite-page" href="./index.html"
            >Favorites</a
          >
        </li>
      </ul>
    </div>
    <div class="mobile-menu-footer">
      <ul class="mobile-menu-social-list">
        <li class="mobile-menu-social-item">
          <a
            class="mobile-menu-social-links"
            title="Facebook"
            href="https://www.facebook.com/goITclub/"
            ><svg class="social-links-svg" width="25" height="25">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-item">
          <a
            class="mobile-menu-social-links"
            title="Instagram"
            href="https://www.instagram.com/goitclub/"
          >
            <svg class="social-links-svg" width="25" height="25">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-menu-social-item">
          <a
            class="mobile-menu-social-links"
            title="YouTube"
            href="https://www.youtube.com/c/GoIT"
          >
            <svg class="social-links-svg" width="25" height="25">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
