<div
  class="rating-backdrop backdrop-rating-is-hidden"
  data-modal-rating
  data-modal-rating-backdrop
>
  <div
    class="rating-form-wrap modal-rating-is-hidden"
    data-modal-rating-container
  >
    <button
      class="rating-modal-close-btn"
      type="button"
      data-modal-rating-close
    >
      <svg class="rating-modal-close-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-close-modal"></use>
      </svg>
    </button>
    <form class="rating-form send-rating-form" data-id="">
      <div class="rating-inputs-container">
        <p class="rating-label">Rating</p>
        <div class="rating-container set-rating">
          <div class="rating-value">0.0</div>
          <div class="rating-body rating-body-custom">
            <div class="rating-active"></div>
            <div class="rating-items">
              <input
                id="rate"
                type="radio"
                class="rating-item"
                value="1"
                name="rate"
                required
              />
              <input
                id="rate"
                type="radio"
                class="rating-item"
                value="2"
                name="rate"
                required
              />
              <input
                id="rate"
                type="radio"
                class="rating-item"
                value="3"
                name="rate"
                required
              />
              <input
                id="rate"
                type="radio"
                class="rating-item"
                value="4"
                name="rate"
                required
              />
              <input
                id="rate"
                type="radio"
                class="rating-item"
                value="5"
                name="rate"
                required
              />
            </div>
          </div>
        </div>
        <div class="inputs-container">
          <input
            class="rating-user-email-input"
            type="email"
            placeholder="Email"
            name="email"
            id="email"
            required
          />
          <textarea
            name="review"
            id="review"
            placeholder="Your comment"
            class="rating-user-comment"
            required
          ></textarea>
        </div>
      </div>
      <button class="rating-submit-btn" type="submit">Send</button>
    </form>
  </div>
</div>
