<section class="quote-home container">
  <div class="quotes-div animate__animated animate__slideInLeft">
    <svg class="icon-runing-man">
      <use href="./images/sprite.svg#icon-runing-man"></use>
    </svg>
    <h2 class="quotes-home-title">Quote of the day</h2>
    <svg class="icon-inverted-commas">
      <use href="./images/sprite.svg#icon-inverted-commas"></use>
    </svg>
    <p class="quote-text"></p>
    <span class="quote-author"></span>
  </div>
  <div
    class="quote-home-background animate__animated animate__slideInRight"
  ></div>
</section>
