<section class="quote-favourites container">
  <div class="quotes-div quotes-div-fav animate__animated animate__fadeInLeft">
    <svg class="icon-runing-man">
      <use href="./images/sprite.svg#icon-runing-man"></use>
    </svg>
    <h2 class="quotes-home-title">Quote of the day</h2>
    <svg class="icon-inverted-commas">
      <use href="./images/sprite.svg#icon-inverted-commas"></use>
    </svg>
    <p class="quote-text">
      A lot of times I find that people who are blessed with the most talent
      don't ever develop that attitude, and the ones who aren't blessed in that
      way are the most competitive and have the biggest heart.
    </p>
    <span class="quote-author">Tom Brady</span>
  </div>
  <div class="after-quote-section-div">
    <div
      class="quote-home-background-fav animate__animated animate__fadeInRight"
    ></div>
    <div
      class="after-quote-section-item animate__animated animate__fadeInRight"
    >
      <div class="favorites-text-div">
        <svg class="motivation-icon-favorites" width="20" height="20">
          <use href="./images/sprite.svg#icon-dumbbell"></use>
        </svg>
        <div class="favorites-motivation-text">
          <p class="favorites-text-time">110 min</p>
          <p class="favorites-text-daily-norm">Daily norm of sports</p>
        </div>
      </div>
    </div>
  </div>
</section>
